
    <div class="container">
        <h5 class="text-main text-lg-start text-center mb-3">We Volve Managment providing below privacy policy</h5>
        <h5 class="text-main text-lg-start text-center mb-3">Data and Owner</h5>
        <h6 class="fw-bold">Types of Data collected</h6>
        <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security
            measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
            The Data processing is carried out using computers and/or IT enabled tools, following organizational
            procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some
            cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the
            site (administration, sales, marketing, legal, system administration) or external parties (such as third
            party technical service providers, mail carriers, hosting providers, IT companies, communications agencies)
            appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested
            from the Data Controller at any time.</p>
        <h6 class="fw-bold">Place</h6>
        <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties
            involved with the processing are located. For further information, please contact the Data Controller.</p>
        <h6 class="fw-bold">Retention time</h6>
        <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the
            purposes outlined in this document, and the User can always request that the Data Controller suspend or
            remove the data.</p>
        <h6 class="fw-bold">Legal action</h6>
        <p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages
            leading to possible legal action arising from improper use of this Application or the related services. The
            User declares to be aware that the Data Controller may be required to reveal personal data upon request of
            public authorities. Additional information about User's Personal Data In addition to the information
            contained in this privacy policy, this Application may provide the User with additional and contextual
            information concerning particular services or the collection and processing of Personal Data upon request.
        </p>
        <h6 class="fw-bold">The rights of Users</h6>
        <p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the
            Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be
            supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block
            any data held in violation of the law, as well as to oppose their treatment for any and all legitimate
            reasons. Requests should be sent to the Data Controller at the contact information set out above. This
            Application does not support “Do Not Track” requests. To determine whether any of the third party services
            it uses honor the “Do Not Track” requests, please read their privacy policies.
        </p>
        <h6 class="fw-bold">Changes to this privacy policy</h6>
        <p class="pb-3">The Data Controller reserves the right to make changes to this privacy policy at any time by
            giving notice to
            its Users on this page. It is strongly recommended to check this page often, referring to the date of the
            last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must
            cease using this Application and can request that the Data Controller remove the Personal Data. Unless
            stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about
            Users.
        </p>
    </div>