<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center mb-2">
            <div class="col-sm-4">Segment Master</div>
            <div class="col-sm-4 text-end">
                <button type="button" class="btn btn-light-main text-main btn-sm me-2" data-bs-toggle="modal"
                    data-bs-target="#SegmentModal" (click)="onEditFlag = false">
                    <i class="fa-solid fa-plus me-2"></i>
                    Add Segment
                </button>
            </div>
        </div>
        <form [formGroup]="filterForm">
            <div class="row g-2">
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="yoganaIdArray" (remove)="clearFilter('yojana')"
                        (select)="getAllSegmentMaster();getNetworkId(filterForm.value.yojanaId)"
                        optionValueField="yojanaId" optionTextField="yojanaName" placeholder="Select Yogana"
                        formControlName="yojanaId">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="networkIdArray" formControlName="networkId"
                        placeholder="Select Network" optionValueField="networkId"
                        [disabled]="!this.filterForm.value.yojanaId || networkIdArray?.length == 0" optionTextField="networkName"
                        (remove)="clearFilter('network')" (select)="getAllSegmentMaster()">
                    </ngx-select>
                </div>
            </div>
        </form>
    </div>



    <div class="card-body">
        <table class="table align-middle dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Segment Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let segMaster of segmentMasterArray | paginate: {itemsPerPage: 10,
                    currentPage: pageNumber, totalItems:totalRows}; let i = index">
                    <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                    <td>{{segMaster?.segmentName}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit Valve"
                                data-bs-toggle="modal" data-bs-target="#SegmentModal"
                                (click)="patchSegmentTable(segMaster)">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                                data-bs-toggle="modal" data-bs-target="#deleteModel"
                                (click)="deleteConformation(segMaster.id)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="segmentMasterArray?.length == 0 || segmentMasterArray?.length == null">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <div class="mt-2 text-end" *ngIf="segmentMasterArray?.length != 0">
            <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Segement Modal -->
<div class="modal fade " id="SegmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="SegmentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-main">
                <h1 class="modal-title fs-5" id="SegmentModal">Map</h1>
                <button type="button" class="btn-close btn-close-inverse" #addSegmentModel data-bs-dismiss="modal"
                    (click)="mapModelClose()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="segmentMasterForm">
                    <div class="row g-2 form-container">
                        <div class="col-sm">
                            <ngx-select [allowClear]="true" [items]="yoganaIdArray"
                                (remove)="clearMapData();segmentMasterForm.controls['networkId'].setValue('')"
                                (select)="getNetworkIdAdd(segmentMasterForm.value.yojanaId)" optionValueField="yojanaId"
                                optionTextField="yojanaName" placeholder="Select Yogana" formControlName="yojanaId"
                                [ngClass]="{ 'is-invalid': submited && f.yojanaId.errors }">
                            </ngx-select>
                            <div *ngIf="submited && f.yojanaId.errors" class="invalid-feedback"> Yogana is Required
                            </div>
                        </div>
                        <div class="col-sm">
                                <ngx-select [allowClear]="true" [items]="networkIdAddArray" formControlName="networkId" (select)="clearMapData();getValveSegmentList()"
                                placeholder="Select Network" optionValueField="networkId" [disabled]="!this.segmentMasterForm.value.yojanaId || networkIdAddArray?.length == 0"
                                optionTextField="networkName" (remove)="clearMapData()"
                                [ngClass]="{ 'is-invalid': submited && f.networkId.errors }">
                            </ngx-select>
                            <div *ngIf="submited && f.networkId.errors" class="invalid-feedback"> Network is Required
                            </div>
                        </div>

                        <div class="col-sm">
                            <input type="text" class="form-control" formControlName="segmentName"
                                placeholder="Segment Name"
                                [ngClass]="{ 'is-invalid': submited && f.segmentName.errors }">
                            <div *ngIf="submited && f.segmentName.errors" class="invalid-feedback">
                                <div *ngIf="f.segmentName.errors.required">Segment Name is required</div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="mapsearch my-2">
                    <div class="form-container">
                        <input class="form-control" type="text" (keydown.enter)="$event.preventDefault()"
                            placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                            type="text" #search>
                    </div>
                </div>
                <div class="gmap_canvas position-relative">
                    <a (click)="removeShape()" *ngIf="isShapeDrawn" aria-label="Remove Shape" close="closeShape"
                        class="closebtn">
                        <i class="fas fa-times"></i>
                    </a>
                    <agm-map [fitBounds]="true" [latitude]="19.0898177" [zoom]="zoom" [longitude]="76.5240298"
                        (mapReady)="onMapReady($event)">
                        <agm-marker *ngFor="let m of tank_ValveArray; let i = index" [latitude]="m.latitude" [longitude]="m.longitude"
                            [iconUrl]="m.iconUrl">
                        </agm-marker>
                        <agm-marker [agmFitBounds]="true" *ngFor="let m of markerArray; let i = index" [latitude]="m.latitude || 19.0898177"
                            [longitude]="m.longitude || 76.5240298" [label]="m.label">
                        </agm-marker>
                    </agm-map>
                </div>
                <hr>
                <div class="form-container d-flex gap-2 float-end">
                    <div class="mb-0">
                        <button class="btn btn-main" type="submit" (click)="onSubmit()">{{textName}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main border-bottom-0">
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
                    data-bs-dismiss="modal" aria-label="Close" (click)="deleteSegMaster()">I'm Sure</button>
            </div>
        </div>
    </div>
</div>