<nav id="sidebar">
  <div class="sidebar-header">
    Admin Panel
  </div>
  <ul class="list-unstyled components">
    <ng-container *ngFor="let pages of loginPages let i = index">
      <ng-container *ngIf="pages.pageURL.length <= 1">
        <li routerLinkActive="active">
          <a routerLinkActive="active" routerLink="/{{pages.pageURL}}" (click)="selectedIndex = i">
            <i [class]="pages.menuIcon"></i> {{pages.pageName}}
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="pages.pageURL.length > 1">

        <li routerLinkActive="active" [ngClass]="{'dropup': selectedIndex == i}"> 
          <a href="#homeSubmenu" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" [attr.aria-expanded]="selectedIndex == i ? true : false" class="dropdown-toggle" (click)="selectedIndex = i"> 
            <i [class]="pages.menuIcon"></i>{{pages.module}}
          </a>
          <ul id="collapse{{i}}" class="collapse list-unstyled" id="homeSubmenu" [ngClass]="{'show': selectedIndex == i}">
            <li *ngFor="let page of pages.pageURL; let pageUrlIndex = index" routerLinkActive="active">
              <a routerLink="/{{page}}" routerLinkActive="active">
                <ng-container>
                  <ng-container *ngFor="let pageName of pages.pageName; let pageNameIndex = index">
                    <ng-container *ngIf="pageNameIndex == pageUrlIndex">{{pageName}}</ng-container>
                  </ng-container>
                </ng-container>
              </a>
            </li>
          </ul>
        </li>

      </ng-container>
    </ng-container>
  </ul>
</nav>




<!-- <nav id="sidebar">
  <div class="sidebar-header">
    Admin Panel
  </div>
  <ul class="list-unstyled components">
    <li>
      <a routerLink="dashboard" routerLinkActive="active">
        <i class="fa-solid fa-house-user"></i>Dashboard
      </a>
    </li>
    <li>
      <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa-solid fa-table-cells-large"></i>Masters
      </a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a routerLink="yojana-master">Yojana Master</a>
        </li>
        <li>
          <a routerLink="network-master">Network Master</a>
        </li>
        <li>
          <a routerLink="user-registration">User Registration</a>
        </li>
        <li>
          <a routerLink="sim-list">Sim Master</a>
        </li>
        <li>
          <a routerLink="tank-master">Tank Master</a>
        </li>
        <li>
          <a routerLink="tank-calibration">Tank Calibration</a>
        </li>
        <li>
          <a routerLink="tank-sensor-device-master">Tank Sensor Device Master</a>
        </li>
        <li>
          <a routerLink="valve-list">Valve</a>
        </li>
        <li>
          <a routerLink="valve-detail">Valve Detail</a>
        </li>
        <li><a routerLink="valve-name-assignment">Valve Name Assignment</a></li>
        <li>
          <a routerLink="valve-connection">Valve Connection</a>
        </li>
        <li>
          <a routerLink="segment-master">Segment Master</a>
        </li>
        <li>
          <a routerLink="valve-segment-assignment">Valve Segment Assignment</a>
        </li>
        <li>
          <a routerLink="tank-segment-assignment">Tank Segment Assignment</a>
        </li>
      </ul>
    </li>

    <li>  
      <a href="#reportSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa-solid fas fa-file-alt"></i>Reports
      </a>
      <ul class="collapse list-unstyled" id="reportSubmenu">
        <li>
          <a routerLink="attendance-report">Attendance Report</a>
        </li>
        <li>
          <a routerLink="valve-water-summary">Valve Water Summary</a>
        </li>
        <li>
          <a routerLink="consumer-water-summery">Consumer Water Summary</a>
        </li>
      </ul>
    </li>
    
    <li> 
      <a href="#settingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa-solid fas fa-cog"></i>Setting
      </a>
      <ul class="collapse list-unstyled" id="settingSubmenu">
        <li>
          <a routerLink="page-right-access">Page Right Access</a>
        </li>
      </ul>
    </li>
  </ul>
</nav> -->