<nav id="sidebar">
  <div class="sidebar-header">
    Admin Panel
  </div>
  <ul class="list-unstyled components">
    <li>
      <a routerLink="dashboard" routerLinkActive="active">
        <i class="fa-solid fa-house-user"></i>Dashboard
      </a>
    </li>
    <li>
      <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa-solid fa-table-cells-large"></i>Masters
      </a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a routerLink="yojana-master">Yojana Master</a>
        </li>
        <li>
          <a routerLink="network-master">Network Master</a>
        </li>
        <li>
          <a routerLink="sim-list">Sim Master</a>
            <!-- <i class="fa-solid fa-sim-card"></i> -->
        </li>
        <li>
          <a routerLink="tank-master">Tank Master</a>
        </li>
        <li>
          <a routerLink="tank-sensor-device-master">Tank Sensor Device Master</a>
        </li>
        <li>
          <a routerLink="valve-list">Valve</a>
        </li>
        <li>
          <a routerLink="valve-detail">Valve Detail</a>
        </li>
        <li>
          <a routerLink="valve-connection">Valve Connection</a>
        </li>
        <li>
          <a routerLink="segment-master">Segment Master</a>
        </li>
        <li>
          <a routerLink="valve-segment-assignment">Valve Segment Assignment</a>
        </li>
        <li>
          <a routerLink="tank-segment-assignment">Tank Segment Assignment</a>
        </li>
        <li>
          <a routerLink="user-registration">User Registration
            <!-- <i class="fa-solid fa-user-plus"></i> -->
          </a>
        </li>
      </ul>
    </li>
    
    <li> 
      <a href="#settingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa-solid fas fa-cog"></i>Setting
      </a>
      <ul class="collapse list-unstyled" id="settingSubmenu">
        <li>
          <a routerLink="tank-calibration">Tank Calibration</a>
        </li>
        <li>
          <a routerLink="page-right-access">Page Right Access</a>
        </li>
      </ul>
    </li>

    <!-- <li>
      <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li> -->
  </ul>
</nav>
