<nav id="sidebar">
    <div class="sidebar-header">
        Admin Panel
    </div>
    <ul class="list-unstyled components">
        <li  routerLinkActive="active">
            <a routerLink="dashboard" >
                <i class="fa-solid fa-house-user"></i>Dashboard
            </a>
        </li>
        <li  routerLinkActive="active">
            <a routerLink="valve-list">
                <i class="fa-solid fa-list-ul"></i>Valve List
            </a>
        </li>
        <!-- <li class="active">
            <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li> -->
    </ul>
</nav>