<footer>
    <div class="container">
        <div class="row align-items-center gx-3 w-100">
            <!-- <div class="col-sm-2 border-end">
                <div class="d-flex justify-content-between">
                    <a (click)="AddFeddback()" class="fw-bold">अभिप्राय</a>
                    <a routerLink="website-policy" routerLinkActive="active" class="fw-bold">वेबसाइट धोरणे</a>
                </div>
            </div> -->
            <div class="col-sm-auto  border-end">
                Copyright @ 2024, Maharashtra
            </div>
                <div class="col-sm text-end text-lg-end">
                    <div class="d-flex gap-2 align-items-center justify-content-start justify-content-lg-end">
                        Powered By
                        Shaurya Technosoft Pvt. Ltd
                        <img src="assets/images/STPL_Logo_White.svg" alt="">
                        <a href="https://shauryatechnosoft.com/home" target="_blank" class="text-white ms-1">
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
</footer>