<div class="card plain-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>Valve Segment Assignment</div>
      <button class="btn btn-light-main text-main btn-sm me-2" type="submit" data-bs-toggle="modal"
        data-bs-target="#AddValveModal" #addValveModal><i class="fa-solid fa-plus me-2"></i>Add Valve Segment
        Assignment
      </button>
    </div>
      <form [formGroup]="filterForm">
        <div class="row form-container gx-2">
          <div class="col-sm-3">
            <label class="form-label">Yojna</label>
            <ngx-select [allowClear]="true" [items]="filterYojanaArr" formControlName="yojanaId"
              placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
              [disabled]="filterYojanaArr?.length == 1"
              (select)="filterForm.controls['networkId'].setValue('');pageNumber = 1;getAllNetworkFilter();getAllValveTableData()"
              (remove)="clearfilter('yojana')">
            </ngx-select>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Network</label>
            <ngx-select [allowClear]="true" [items]="FilterNetworkArr" formControlName="networkId"
              placeholder="Select Network" optionValueField="networkId" optionTextField="networkName"
              [disabled]="!this.filterForm.value.yojanaId || FilterNetworkArr?.length == 1"
              (select)="getAllValveTableData();" (remove)="clearfilter('network')">
            </ngx-select>
          </div>
          <!-- <div class="col-4">
            <button type="submit" class="btn btn-main" (click)="getAllValveTableData()">Search</button>
            <button type="button" class="btn btn-main ms-2" (click)="clearFilter()">Clear</button>
          </div> -->
        </div>
      </form>
    

    <!-- <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-3">
         
          <ngx-select [allowClear]="true" [items]="yojanaArr" formControlName="yojanaId" placeholder="Select Yojna"
            optionValueField="yojanaId" optionTextField="yojanaName" (select)="getAllNetwork();">
          </ngx-select>
        </div>
        
        <div class="col-3">
          
          <ngx-select [allowClear]="true" [items]="networkArr" formControlName="networkId" placeholder="Select Network"
            optionValueField="networkId" optionTextField="networkName" [disabled]="!this.filterForm.value.yojanaId">
          </ngx-select>
        </div>
    
        <div class="col-4">
          <button type="submit" class="btn btn-main" (click)="getAllValveTableData()">Search</button>
          <button type="button" class="btn btn-light-main ms-2">Clear</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="card-body">
    <table class="table align-middle dashboard-table">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Valve</th>
          <th>Segment Names</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let valve of valveArray | paginate: {itemsPerPage: 10,
          currentPage: pageNumber, totalItems:totalRows}; let i = index">
          <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
          <td>{{valve?.valveName}}</td>
          <td>
        <tr *ngFor="let valveObj of valve.valvesegmet">
          <td>{{valveObj?.segmentName}}</td>
        </tr>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit" data-bs-toggle="modal"
              data-bs-target="#AddValveModal" (click)="onEdit(valve)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete" data-bs-toggle="modal"
              data-bs-target="#deleteModel" (click)="deleteConformation(valve.valveId)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 text-end" *ngIf="valveArray?.length == 0">
      <div class="alert alert-danger text-center py-2">No Data Found..!
      </div>
    </div>
    <div class="mt-2 text-end" *ngIf="valveArray?.length != 0">
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
      </pagination-controls>
    </div>
  </div>
</div>

<!-- Modal for adding new valve -->
<div class="modal fade" id="AddValveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="AddValveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="AddValveModalLabel">
          {{editFlag ? 'Update Valve Segment Assignment' : 'Add Valve Segment Assignment'}}
        </p>
        <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal" aria-label="Close"
          (click)="clearForm()" #closebutton></button>
      </div>
      <form [formGroup]="valveRegForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
        <div class="modal-body">
          <div class="form-container">
            <div class="row">
              <div class="col-6">
                <label class="form-label">Yojana</label>
                <ngx-select [allowClear]="true" [items]="yojanaArr" formControlName="yojanaId"
                  (remove)="clearFormData('yojana')" placeholder="Select Yojana" optionValueField="yojanaId"
                  (select)="getAllNetwork();" optionTextField="yojanaName" [disabled]="yojanaArr?.length == 1"
                  [ngClass]="{ 'is-invalid': submited && f.yojanaId.errors }">
                </ngx-select>
                <div *ngIf="submited && f.yojanaId.errors" class="invalid-feedback"> Yojana Is Required </div>
              </div>
              <div class="col-6">
                <label class="form-label">Network</label>
                <ngx-select [allowClear]="true" [items]="networkArr" formControlName="networkId"
                  (remove)="clearFormData('network')" placeholder="Select Network" optionValueField="networkId"
                  (select)="getAllvalve();getAllSegment()" optionTextField="networkName"
                  [disabled]="!this.valveRegForm.value.yojanaId || networkArr?.length <= 1"
                  [ngClass]="{ 'is-invalid': submited && f.networkId.errors }">
                </ngx-select>
                <div *ngIf="submited && f.networkId.errors" class="invalid-feedback"> Network Is Required </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Valve</label>
              <ngx-select [allowClear]="true" [items]="valveDropdownArray" formControlName="valveId"
                (remove)="clearFormData('valve')" placeholder="Select valve" optionValueField="valveDetailsId"
                (selectionChanges)="clearDropdown()" (click)="valvedropdown('valve')" optionTextField="valveName"
                [disabled]="!this.valveRegForm.value.networkId"
                [ngClass]="{ 'is-invalid': submited && f.valveId.errors }">
              </ngx-select>
              <div *ngIf="submited && f.valveId.errors" class="invalid-feedback"> Valve Is Required </div>
            </div>
            <div class="mb-3">
              <!-- <div> -->

              <!-- </div> -->
              <div class="row ">
                <div class="col-sm-8">
                  <label class="form-label">Segment</label>
                  <ngx-select [allowClear]="true" [items]="sgmentDropdownArray" formControlName="segmentId"
                    placeholder="Select Segment" optionValueField="segmentId" optionTextField="segmentName"
                    [disabled]="!this.valveRegForm.value.networkId"
                    [ngClass]="{ 'is-invalid': submited && f.segmentId.errors }">
                  </ngx-select>
                  <div *ngIf="submited && f.segmentId.errors" class="invalid-feedback"> Segment Is Required </div>
                </div>
                <div class="col-sm-4 mt-3 pt-1">
                  <button type="button" class="btn btn-main " [disabled]="!this.valveRegForm.value.segmentId"
                    (click)="addSegment()">Add</button>
                </div>
              </div>
            </div>
            <div class="mb-0">
              <table class="table dashboard-table">
                <thead>
                  <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Segment</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let segment of segmentShowArray; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{segment?.segmentName}}</td>
                    <td>
                      <button class="btn bg-danger bg-opacity-10 text-danger rounded" (click)="deleteSegment(i,segment)"
                        title="Delete">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer px-0 pb-0">
            <div class="d-flex justify-content-between align-items-center w-100 form-container">
              <button type="button" class="btn btn-light-main" (click)="clearForm()">Clear</button>
              <button type="submit" class="btn btn-main">{{editFlag ? 'Update':'Submit'}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" #mapModal id="MapModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title mb-0" id="exampleModalLabel">Location</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

    </div>
  </div>
</div>
<!-- Delete modal pop up -->
<div class="modal fade mx-auto" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-body text-center px-0">
        <img src="../../../../assets/images/trash.gif" alt="" height="100px">
        <p class="mb-4">Do You Want To Delete</p>
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
          aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
          data-bs-dismiss="modal" aria-label="Close" (click)="onDeleteValve()">I'm
          Sure</button>
      </div>
    </div>
  </div>
</div>