<div class="card plain-card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-4">Tank Sensor Device Master
      </div>
      <div class="col-sm-4 text-end">
        <button title="Refresh Valve" class="btn btn-sm btn-main float-sm-end"><i
            class="fas fa-sync-alt"></i></button>
        <button class="btn btn-light-main text-main btn-sm me-2" type="submit" data-bs-toggle="modal"
          data-bs-target="#AddValveModal" #addValveModal><i class="fa-solid fa-plus me-2"></i>Add Tank Sensor Device Master
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table align-middle dashboard-table">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Deivce Id</th>
          <th>Deivce Name</th>
          <th>SIM No</th>
          <th>Description</th>
          <th>Tank</th>
          <th>Yojana</th>
          <th>Network</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>Mobile</td>
          <td>Jio</td>
          <td>Mobile Paradise in Bezonbagh</td>
          <td>Tank</td>
          <td>MObile Yojana</td>
          <td>network</td>
          <td>
            <div class="btn-group">
              <button class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit Valve" data-bs-toggle="modal"
                 data-bs-target="#AddValveModal">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                data-bs-toggle="modal"  data-bs-target="#deleteModel">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 text-end">
      <div class="alert alert-danger text-center py-2">No Data Found..!
      </div>
    </div>
  </div>
</div>


<!-- Modal for adding new valve -->
<div class="modal fade" id="AddValveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="AddValveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="AddValveModalLabel">Add Tank Sensor Device Master</p>
        <button type="button" class="btn-close btn-close-inverse"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-container">
            <div class="mb-3">
              <label class="form-label">Device Id</label>
              <input type="text" class="form-control" placeholder="Deivce Id"
                >
            </div>
            <div class="mb-3">
              <label class="form-label">Device Name</label>
              <input type="text" class="form-control" placeholder="Device Name">
            </div>
            <div class="mb-3">
              <label class="form-label">SIM No</label>
              <select class="form-select" class="form-control"  aria-label="Default select example" >
                <option selected>SIM No</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea class="form-control" placeholder="Description" rows="5"></textarea>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="mb-3">
            <label class="form-label">Tank</label>
              <select class="form-select" class="form-control" aria-label="Default select example" >
                <option selected>Tank</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Yojana</label>
                    <select class="form-select" class="form-control" aria-label="Default select example" >
                      <option selected>Yojana</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Network</label>
                   <select class="form-select" class="form-control" aria-label="Default select example" >
                     <option selected>Network</option>
                     <option value="1">One</option>
                     <option value="2">Two</option>
                     <option value="3">Three</option>
                   </select>
                 </div>
              </div>
              </div>
          </div>
          <div class="modal-footer px-0 pb-0">
            <div class="d-flex justify-content-between align-items-center w-100 form-container">
              <button type="button" class="btn btn-light-main">Clear</button>
              <button type="submit" class="btn btn-main text-center">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" #mapModal id="MapModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title mb-0" id="exampleModalLabel">Location</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

    </div>
  </div>
</div>
<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center pb-5">
        <h3 class="my-3">Are You Sure?</h3>
        <p class="mb-4">Do you really want to This process can not be undone.</p>
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
          aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
          data-bs-dismiss="modal" aria-label="Close">I'm
          Sure</button>
      </div>
    </div>
  </div>
</div>

