<div class="card plain-card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center mb-3">
      <div class="col-sm-4">SIM Master</div>
      <div class="col-sm-4 text-end">
        <button class="btn btn-light-main text-main btn-sm me-2" type="submit" (click)="getAllNetwork(true)"
          data-bs-toggle="modal" data-bs-target="#AddSIMModal"><i class="fa-solid fa-plus me-2"></i>Add SIM</button>
      </div>
    </div>
    <form class="" [formGroup]="searchForm">
      <div class="row">
        <div class="row">
          <div class="col-sm-3">
            <ngx-select [allowClear]="true" [items]="getAllYojanaArray" formControlName="yojana"
              placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
              (remove)="clearSerach('yojana')" [disabled]="getAllYojanaArray.length == 1"
              (select)="getAllSimData();getAllNetwork(false)">
            </ngx-select>
          </div>
          <div class="col-sm-3">
            <ngx-select [allowClear]="true" [items]="getAllFilterNetworkArray" formControlName="network"
              placeholder="Select Network" optionValueField="networkId" optionTextField="networkName"
              [disabled]="!searchForm.value.yojana || getAllFilterNetworkArray.length < 2"
              (remove)="clearSerach('network')" (select)="getAllSimData()">
            </ngx-select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <table class="table align-middle dashboard-table">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Operator Name</th>
          <th>SIM No</th>
          <th>IMSI No</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let simData of simArray | paginate: { itemsPerPage: pagesize, currentPage: pageNumber, totalItems:listCount };let i = index"
          [class.active]="simData.id == highlitedRow">
          <td>{{(+(pageNumber-1+"0")+i+1)}}</td>
          <td>{{simData.operatorName}}</td>
          <td>{{simData.simNo}}</td>
          <td> {{simData.imsiNo}} </td>
          <td>
            <div class="btn-group">
              <button class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit" data-bs-toggle="modal"
                data-bs-target="#AddSIMModal" (click)="updateSimData(simData)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete" data-bs-toggle="modal"
                data-bs-target="#deleteModel" (click)="deleteConformation(simData.id)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 text-end" *ngIf="simArray?.length == 0">
      <div class="alert alert-danger text-center py-2">No Data Found..!
      </div>
    </div>
    <ng-container *ngIf="simArray?.length != 0">
      <pagination-controls (pageChange)="pageNumber = $event" previousLabel="" nextLabel=""
        (click)="selPagination(pageNumber)"></pagination-controls>
    </ng-container>
  </div>
</div>


<!-- Modal for adding new valve -->
<div class="modal fade" id="AddSIMModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="AddSIMModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="AddSIMModalLabel" *ngIf="!editData">Add Sim</p>
        <p class="modal-title mb-0" id="AddSIMModalLabel" *ngIf="editData">Update Sim</p>
        <button type="button" class="btn-close btn-close-inverse"
          (click)="clearForm(formDirective);highlitedRow=0;getAllNetwork(false)" #addSimData data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="simFormData" #formDirective="ngForm">
          <div class="form-container">
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Yojana</label>
                  <ngx-select [allowClear]="true" [items]="getAllYojanaArray" formControlName="yojanaId"
                    (select)="getAllNetwork(true)" (remove)="clearDropdown()" [disabled]="getAllYojanaArray.length == 1"
                    placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
                    [ngClass]="{ 'is-invalid': submitted && f['yojanaId'].errors }">
                  </ngx-select>
                  <div *ngIf="submitted && f['yojanaId'].errors" class="invalid-feedback">
                    <div class="text-danger" *ngIf="f['yojanaId'].errors?.['required']">Yojana Type is
                      Required.</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Network</label>
                    <ngx-select [allowClear]="true" [items]="getAllNetworkArray" formControlName="networkId"
                      placeholder="Select Network" optionValueField="networkId" optionTextField="networkName"
                      [ngClass]="{ 'is-invalid': submitted && f['networkId'].errors }"
                      [disabled]="!simFormData.value.yojanaId || this.getAllNetworkArray.length < 2">
                    </ngx-select>
                    <div *ngIf="submitted && f['networkId'].errors" class="invalid-feedback">
                      <div class="text-danger" *ngIf="f['networkId'].errors?.['required']">Network Type is
                        Required.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Operator</label>
              <ngx-select [allowClear]="true" [items]="simOperatorList" formControlName="operatorId"
                placeholder="Select Operator" optionValueField="id" optionTextField="operatorName"
                [ngClass]="{ 'is-invalid': submitted && f.operatorId.errors }">
              </ngx-select>
              <div *ngIf="submitted && f.operatorId.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.operatorId.errors?.required">Operator Is Required</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">SIM No.</label>
              <input type="text" class="form-control" maxlength="20" formControlName="simNo" placeholder="SIM No."
                [ngClass]="{ 'is-invalid': submitted && f.simNo.errors }"
                (keypress)="this.validations.noSpacesAtStart($event);this.validations.onlyDigits($event)" />
              <div *ngIf="submitted && f.simNo.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.simNo.errors?.required">Sim No Is Required.</div>
              </div>
              <div *ngIf="submitted && f.simNo.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.simNo.errors?.pattern">Sim No must be 20 digits.</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">IMSI No.</label>
              <input type="text" class="form-control" formControlName="imsiNo" maxlength="15" placeholder="IMSI No."
                [ngClass]="{ 'is-invalid': submitted && f.imsiNo.errors }"
                (keypress)="this.validations.noSpacesAtStart($event);this.validations.onlyDigits($event)" />
              <div *ngIf="submitted && f.imsiNo.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.imsiNo.errors?.required">IMSI No Is Required.</div>
              </div>
              <div *ngIf="submitted && f.imsiNo.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.imsiNo.errors?.pattern">IMSI No. must be 15 digits.</div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-0 pb-0">
            <div class="d-flex justify-content-between align-items-center w-100 form-container">
              <button type="button" class="btn btn-light-main" (click)="clearForm(formDirective)">Clear</button>
              <button type="submit" class="btn btn-main" (click)="onSubmit()" *ngIf="!editData">Submit</button>
              <button type="submit" class="btn btn-main" (click)="onSubmit()" *ngIf="editData">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal pop up -->
<div class="modal fade mx-auto" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered delete-modal">
    <div class="modal-content">
      <div class="modal-body text-center px-0">
        <img src="assets/images/trash.gif" alt="" height="100px">
        <p class="mb-4">Do You Want To Delete</p>
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
          aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
          data-bs-dismiss="modal" aria-label="Close" (click)="deleteSim()">I'm
          Sure</button>
      </div>
    </div>
  </div>
</div>