<div class="card plain-card">
    <div class="card-header">
        <div class="d-flex justify-content-between w-100 mb-3">
            Valve Connection
            <button type="button" class="btn btn-light-main text-main btn-sm me-2" data-bs-toggle="modal"
                data-bs-target="#addconnectionModal" (click)="this.filterFlag = 'add';this.getYoganaDropdown()">
                <i class="fa-solid fa-plus me-2"></i> Add Connection
            </button>
        </div>

        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="yoganaArrayFilter" formControlName="yojana"
                        placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
                        (remove)="clearSearch('yojana');filterData()" [disabled]="yoganaArrayFilter?.length == 1"
                        (select)="this.filterFlag = 'filter';clearSearch('yojana');getNetworkDropdown();filterData()">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="networkArrayFilter" formControlName="network"
                        placeholder="Select Network" optionValueField="networkId"
                        [disabled]="!this.searchForm.value.yojana || networkArrayFilter?.length == 1" optionTextField="networkName"
                        (remove)="clearSearch('network');filterData()"
                        (select)="this.filterFlag = 'filter';clearSearch('network');getValveConnectionDropdown();filterData()">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="valveConnectionArrayFilter" formControlName="valveMaster"
                        placeholder="Select Valve Connection" optionValueField="valveId" optionTextField="valveName"
                        [disabled]="!this.searchForm.value.network || valveConnectionArrayFilter.length <=1" (remove)="clearSearch('valveMaster');filterData()"
                        (select)="filterData()">
                    </ngx-select>

                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table align-middle dashboard-table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Person Name</th>
                            <th>Mobile Number</th>
                            <th>Valve Name</th>
                            <th>Total Connection</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataSource |  paginate: {itemsPerPage: pagesize,
                            currentPage: pageNumber, totalItems:totalRows}; let i=index"
                            [class.active]="data.id == highlitedRow">
                            <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                            <td>{{data.personName}}</td>
                            <td>{{data.mobileNo}}</td>
                            <td>{{data.valveName}}</td>
                            <td>{{data.totalConnection}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light text-edit me-1 rounded"
                                        data-bs-toggle="modal" data-bs-target="#addconnectionModal"
                                        (click)="this.filterFlag = 'add';onClickEdit(data);editChangeFlag = 1">
                                        <i class="far fa-edit"></i></button>
                                    <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                                        data-bs-toggle="modal" data-bs-target="#deleteModel"
                                        (click)="deleteConformation(data)">
                                        <i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="dataSource?.length == 0">
                    <div class="alert alert-danger text-center py-2">No Data Found..!
                    </div>
                </div>
                <div class="mt-2 text-end" *ngIf="dataSource?.length != 0">
                    <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Delete Model Pop-Up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main border-bottom-0">
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal" aria-label="Close"
                    (click)="highlitedRow=0;"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close" (click)="highlitedRow=0">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
                    data-bs-dismiss="modal" aria-label="Close" (click)="deleteConnection()">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>


<!--Add/Update Modal Pop Up -->
<div class="modal fade" id="addconnectionModal" tabindex="-1" aria-labelledby="addconnectionModal"
    data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main">
                <h1 class="modal-title fs-5" id="addconnectionModal">Add Connection</h1>
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton (click)="clearForm(formDirective);highlitedRow=0;"></button>
            </div>
            <form [formGroup]="valveConnectionForm" (ngSubmit)="onClickSubmit()" #formDirective="ngForm">

                <div class="modal-body">
                    <div class="form-container">

                        <div class="form-container">

                            <div class="mb-3">
                                <label for="" class="form-label"> Yojana<span class="text-danger">*</span></label>
                                <ngx-select [items]="yoganaArray" formControlName="yojanaId" [allowClear]="true"
                                    placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
                                    [ngClass]="{ 'is-invalid': submitted && f.yojanaId.errors }"
                                    (remove)="clearDropdown('yojanaId')" [disabled]="this.yoganaArray?.length == 1"
                                    (select)="this.filterFlag = 'add';clearDropdown('yojanaId');getNetworkDropdown();editChangeFlag = 0">
                                </ngx-select>
                                <div *ngIf="submitted && f.yojanaId.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.yojanaId.errors?.required">Yojana Is
                                        Required.</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Network <span class="text-danger">*</span></label>
                                <ngx-select [items]="networkArray" formControlName="networkId" [allowClear]="true"
                                    placeholder="Select Network" optionValueField="networkId"
                                    [disabled]="!this.valveConnectionForm.value.yojanaId || networkArray?.length <=1" optionTextField="networkName"
                                    [ngClass]="{ 'is-invalid': submitted && f.networkId.errors }"
                                    (remove)="clearDropdown('networkId')"
                                    (select)="this.filterFlag = 'add';clearDropdown('networkId');getValveConnectionDropdown();editChangeFlag = 0">
                                    <!-- [disabled]="networkArray.length==1" -->
                                </ngx-select>
                                <div *ngIf="submitted && f.networkId.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.networkId.errors?.required">Network Is
                                        Required.</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Valve Name <span class="text-danger">*</span></label>
                                <ngx-select [allowClear]="true" [items]="valveConnectionArray"
                                    formControlName="valveMasterId" placeholder="Select Valve"
                                    optionValueField="valveId" optionTextField="valveName"
                                
                                    [ngClass]="{ 'is-invalid': submitted && f.valveMasterId.errors }"
                                    (remove)="clearDropdown('valveMasterId')">
                                </ngx-select>
                                <!-- [disabled]="!this.valveConnectionForm.value.networkId || valveConnectionArray.length==1" -->
                                <div *ngIf="submitted && f.valveMasterId.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.valveMasterId.errors?.required">
                                        Valve Is Required</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Person Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Person Name"
                                    formControlName="personName"
                                    (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.personName.errors }">
                                <div *ngIf="submitted && f.personName.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.personName.errors?.required">
                                        Person Name Is Required</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Mobile Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Mobile Number"
                                    formControlName="mobileNo"
                                    (keypress)="validation.noSpacesAtStart($event);validation.onlyDigits($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" maxlength="10">
                                <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobileNo.errors?.required" class="text-danger">Mobile Number Is
                                        Required</div>
                                    <div *ngIf="f.mobileNo.errors?.pattern" class="text-danger">Please Enter Valid
                                        Mobile Number</div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Number of Connection <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Number of Connection"
                                    formControlName="totalConnection"
                                    (keypress)="validation.noSpacesAtStart($event);validation.onlyDigits($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.totalConnection.errors }"
                                    [readOnly]="true">
                                <div *ngIf="submitted && f.totalConnection.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.totalConnection.errors?.required">
                                        Total Connection Is Required.</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="card card-body border shadow-none">
                                    <div formArrayName="connectiondetails"
                                        *ngFor="let connection of connectionForm?.controls;let i = index;">
                                        <div [formGroupName]="i">

                                            <div class="mb-3">
                                                <label class="form-label">Pipe Diameter <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Pipe Diameter"
                                                    formControlName="pipeDiameter"
                                                    (keypress)="validation.noSpacesAtStart($event)">
                                                <div class="text-danger"
                                                    *ngIf="submitted && connectionForm.controls[i]?.get('pipeDiameter')?.errors?.['required']">
                                                    Pipe Diameter Is Required.
                                                </div>
                                            </div>

                                            <!-- <div class="mb-3">
                                                <label class="form-label">Connection No. <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Connection No."
                                                    formControlName="connectionNo"
                                                    (keypress)="validation.noSpacesAtStart($event);validation.onlyDigits($event)">
                                                <div class="text-danger"
                                                    *ngIf="submitted && connectionForm.controls[i]?.get('connectionNo')?.errors?.['required']">
                                                    Connection Number Is Required.</div>
                                            </div> -->

                                            <ng-container *ngIf="valveConnectionForm.value.totalConnection >= 0">
                                                <div class="text-end mb-2">
                                                    <span class="ms-2">
                                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                                            (click)="removeItem(i)">
                                                            Remove
                                                        </button>
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="submitted && connectionForm.errors?.['required']">
                                        Please Add connection
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-sm"
                                        (click)="addConnection()">
                                        Add
                                    </button>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="floatingTextarea" class="form-label">Comments</label>
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                    formControlName="remark" (keypress)="validation.noSpacesAtStart($event)">
                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <button type="button" class="btn btn-light-main"
                            (click)="clearForm(formDirective)">Clear</button>
                        <button type="submit" class="btn btn-main text-center">{{ editFlag ? 'Update' :
                            'Submit'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>