<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <!-- <div class="col-sm-6">
                <div class="d-flex justify-content-between">
                </div>
                Valve Connection
            </div>
            <div class="text-end">
                <button title="Refresh Valve" class="btn btn-sm btn-main float-sm-end"><i
                        class="fas fa-sync-alt"></i></button>

            </div> -->
            <div class="col-sm-6">
                <div class="d-flex justify-content-between">
                    Valve Connection
                    <!-- <button title="Refresh Valve" class="btn btn-sm btn-main float-sm-end"><i
                        class="fas fa-sync-alt"></i></button> -->
                </div>
            </div>
            <div class="col-sm-6">
                Valve Remark
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="valveConnectionForm" (ngSubmit)="onClickSubmit()" #formDirective="ngForm">
       
                <div class="form-container">

                    <div class="mb-3">
                         <label class="form-label">Valve</label>
                        <ngx-select [allowClear]="true" [items]="valveConnectionArray" formControlName="valveMasterId"
                        placeholder="Select Valve" optionValueField="valveId"
                        optionTextField="valveName">
                    </ngx-select> 
                   </div>

                    <div class="mb-3">
                        <label class="form-label">Person Name</label>
                        <input type="text" class="form-control" placeholder="Person Name" formControlName="personName">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobileNo">
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Number of Connection</label>
                        <input type="text" class="form-control" placeholder="Number of Connection" formControlName="totalConnection">
                    </div>

                     <div class="mb-3">
                        <div class="card card-body border shadow-none">
                            
                         <div formArrayName="connectiondetails"
                            *ngFor="let connection of connectionForm?.controls;let i = index;">
                            <div [formGroupName]="i"> 
                        
                            <div class="mb-3">
                                <label class="form-label">Pipe Diameter</label>
                                <input type="text" class="form-control" placeholder="Pipe Diameter" formControlName="pipeDiameter"> 
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Connection No.</label>
                               <input type="text" class="form-control" placeholder="Connection No." formControlName="connectionNo"> 
                           </div>

                            <div class="text-end mb-2">
                                <span class="ms-2">
                                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeItem(i)"> 
                                        Remove
                                    </button>
                                </span>
                            </div>
                             </div>
                            </div> 
                           
        
                            <button type="button" class="btn btn-outline-primary btn-sm" (click)="addConnection()">
                                Add
                            </button>
                         
                        </div>
                    </div>

                  
                    

                    <div class="mb-3">
                        <label for="floatingTextarea" class="form-label">Comments</label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="remark">
                        </textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col">
                            <button type="button" class="btn btn-secondary  float-lg-start" (click)="clearForm()">Clear</button>
                        </div>
                        <div class="col-sm-6 text-end col">
                            <button type="submit" class="btn btn-main float-lg-end">{{ editFlag ? 'Update' : 'Submit'}}</button>
                        </div>
                    </div>

                </div>
            </form>
            </div>
            <div class="col-sm-6">
                <table class="table align-middle dashboard-table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Person Name</th>
                            <th>Mobile Number</th>
                            <th>Valve Name</th>
                            <th>Total Connection</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let data of dataSource |  paginate: {itemsPerPage: pagesize,
                            currentPage: pageNumber, totalItems:totalRows}; let i=index"
                        [class.active]="data.id == highlitedRow">
                            <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                            <td>{{data.personName}}</td>
                            <td>{{data.mobileNo}}</td>
                            <td>{{data.valveName}}</td>
                            <td>{{data.totalConnection}}</td>
                           <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light text-edit me-1 rounded"
                                    (click)="onClickEdit(data)">
                                        <i class="far fa-edit"></i></button>
                                        <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                                        data-bs-toggle="modal" data-bs-target="#deleteModel"
                                        (click)="deleteConformation(data)">
                                        <i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="dataSource?.length == 0">
                    <div class="alert alert-danger text-center py-2">No Data Found..!
                    </div>
                </div>
                <div class="mt-2 text-end" *ngIf="dataSource?.length != 0">
                    <pagination-controls previousLabel="" nextLabel=""
                    (pageChange)="onClickPagintion($event)"> </pagination-controls>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!--Total Connection Modal -->
<!-- <div class="modal fade" id="totalconnectionmodal" tabindex="-1" aria-labelledby="totalconnectionmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-main">
                <h1 class="modal-title fs-5" id="totalconnectionmodalLabel">Modal title</h1>
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table align-middle dashboard-table">
                    <thead>
                        <tr>
                            <th>Connection No.</th>
                            <th>Pipe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2.5</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2.3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->


<!--Add Connection Modal -->

<!-- <div class="modal fade" id="addconnectionmodal" tabindex="-1" aria-labelledby="addconnectionmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main">
                <h1 class="modal-title fs-5" id="addconnectionmodalLabel">Pipe Diameter</h1>
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="" class="form-label">Pipe Diameter</label>
                    <select class="form-control" aria-label="Default select example">
                        <option selected>Pipe Diameter</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-light-main">Clear</button>
                    <button type="submit" class="btn btn-main">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Delete Model Pop-Up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main border-bottom-0">
                <button type="button" class="btn-close btn-close-inverse" data-bs-dismiss="modal"
                    aria-label="Close" (click)="highlitedRow=0;"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
                    data-bs-dismiss="modal" aria-label="Close" (click)="deleteConnection()">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>