<div class="card plain-card">
  <div class="card-header">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-4">User Registration</div>
      <div class="col-sm-4 text-end">
        <button class="btn btn-light-main text-main btn-sm me-2" type="submit" data-bs-toggle="modal"
          data-bs-target="#AddUserModal" (click)="buttontextFlag='Submit'"><i class="fa-solid fa-plus me-2"></i>Add
          User</button>
      </div>
    </div>
  </div>
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-sm-3">
        <ngx-select [allowClear]="true" [items]="yoganaIdArray" formControlName="yojana" placeholder="Select Yojana"
          optionValueField="yojanaId" optionTextField="yojanaName" (remove)="clearSerach('yojana')"
          (select)="networkFlag='filter';getNetworkID(searchForm.value.yojana);getUserRegistrationList()">
        </ngx-select>
      </div>
      <div class="col-sm-3">
        <ngx-select [allowClear]="true" [items]="networkFilterArray" formControlName="network"
          placeholder="Select Network" optionValueField="networkId" [disabled]="!this.searchForm.value.yojana"
          optionTextField="networkName" (remove)="clearSerach('network')" (select)="getUserRegistrationList()">
        </ngx-select>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="searchField"
            placeholder="Search By Name / Mobile No." (keyup)="onKeyUpFilter()" />
          <button type="button" class="btn btn-light btn-sm" (click)="clearSerach('search')"
            *ngIf="searchForm.value.searchField"><i _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
          <button type="button" *ngIf="!searchForm.value.searchField" class="btn btn-sm btn-light"><i
              class="fas fa-search"></i></button>
        </div>

      </div>
    </div>
  </form>
  <div class="card-body">
    <table class="table align-middle dashboard-table">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Full Name</th>
          <th>Mobile No.</th>
          <th>Address</th>
          <th>Is Block</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let userData of userListArray| paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:listCount};let i = index">
          <td>{{(+(pageNumber-1+"0")+i+1)}}</td>
          <td>{{userData.fullName}}</td>
          <td>{{userData.mobileNo}}</td>
          <td>{{userData.address}}</td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox"
                (change)="blockUserDetails(userData.id,userData.isUserBlock,$event)"
                [checked]="getBlockUser(userData.isUserBlock)" role="switch" id="flexSwitchCheckDefault">
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit Valve" data-bs-toggle="modal"
                data-bs-target="#AddUserModal" (click)="networkFlag='add';updateUserData(userData)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                data-bs-toggle="modal" data-bs-target="#deleteModel" (click)="deleteConformation(userData.id)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 text-end" *ngIf="userListArray?.length == 0">
      <div class="alert alert-danger text-center py-2">No Data Found..!
      </div>
    </div>
    <div class="mt-2 text-end" *ngIf="userListArray?.length != 0">
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="selPagination($event)">
      </pagination-controls>
    </div>
  </div>
</div>


<!-- Modal for adding new valve -->
<div class="modal fade" id="AddUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="AddUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-main">
        <p class="modal-title mb-0" id="AddUserModalLabel">User Registration</p>
        <button type="button" #addUserModel class="btn-close btn-close-inverse" #addSimData (click)="defaultForm()"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userDetails" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
          <div class="form-container">
            <div class="mb-3">
              <label class="form-label">Full Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Full Name" formControlName="fullName"
                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)" />
              <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.fullName.errors?.required">Full Name is
                  Required.</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Mobile No.<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Mobile No." maxlength="10" formControlName="mobileNo"
                [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }"
                (keypress)="validation.noSpaceAllow($event);validation.onlyDigits($event)" maxlength="10" />
              <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.mobileNo.errors?.required">Mobile No is
                  Required.</div>
                <div class="text-danger" *ngIf="f.mobileNo.errors?.pattern">Please Enter
                  Valid Mobile No.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">User Type</label>
              <ngx-select [items]="userTypeArray" formControlName="userTypeId" placeholder="Select User Type"
                optionValueField="id" optionTextField="userTypeName"
                [ngClass]="{ 'is-invalid': submitted && f.userTypeId.errors }">
              </ngx-select>
              <div *ngIf="submitted && f.userTypeId.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.userTypeId.errors?.required">User Type is
                  Required.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Yojana</label>
              <ngx-select [items]="yoganaIdArray" formControlName="yojanaId" placeholder="Select Yojana"
                optionValueField="yojanaId" optionTextField="yojanaName"
                [ngClass]="{ 'is-invalid': submitted && f.yojanaId.errors }"
                (select)="networkFlag='add';getNetworkID(userDetails.value.yojanaId)">
              </ngx-select>
              <div *ngIf="submitted && f.yojanaId.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.yojanaId.errors?.required">Yojana is
                  Required.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Network</label>
              <ngx-select [items]="networkIdArray" formControlName="networkId" placeholder="Select Network"
                optionValueField="networkId" [disabled]="!this.userDetails.value.yojanaId" optionTextField="networkName"
                [ngClass]="{ 'is-invalid': submitted && f.networkId.errors }" [multiple]="true">
              </ngx-select>
              <div *ngIf="submitted && f.networkId.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.networkId.errors?.required">Network is
                  Required.</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <textarea class="form-control" placeholder="Address" rows="4" formControlName="address"
                (keypress)="validation.noFirstSpaceAllow($event)"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="f.address.errors?.required">Address is
                  Required.</div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-0 pb-0">
            <div class="d-flex justify-content-between align-items-center w-100 form-container">
              <button type="button" class="btn btn-light-main" (click)="clearForm(formDirective)">Clear</button>
              <button type="submit" class="btn btn-main">{{this.buttontextFlag}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center pb-5">
        <h5 class="my-3">Are You Sure?</h5>
        <p class="mb-4">Do you really want to This process can not be undone.</p>
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
          aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
          data-bs-dismiss="modal" aria-label="Close" (click)="deleteUser()">I'm
          Sure</button>
      </div>
    </div>
  </div>
</div>

<button [style.display]="'none'" #openBlockUserPopup data-bs-toggle="modal" data-bs-target="#blockUser"></button>
<div class="modal fade" id="blockUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent border-bottom-0">
        <button type="button" class="btn-close" (click)="preventCheck()" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="ui-error">
          <svg viewBox="0 0 87 87" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-2" transform="translate(2.000000, 2.000000)">
                <circle id="Oval-2" stroke="rgba(252, 191, 191, .5)" stroke-width="4" cx="41.5" cy="41.5" r="41.5">
                </circle>
                <circle class="ui-error-circle" stroke="#F74444" stroke-width="4" cx="41.5" cy="41.5" r="41.5"></circle>
                <path class="ui-error-line1" d="M22.244224,22 L60.4279902,60.1837662" id="Line" stroke="#F74444"
                  stroke-width="3" stroke-linecap="square"></path>
                <path class="ui-error-line2" d="M60.755776,21 L23.244224,59.8443492" id="Line" stroke="#F74444"
                  stroke-width="3" stroke-linecap="square"></path>
              </g>
            </g>
          </svg>
        </div>
        <h5 class="my-3">Are You Sure {{blockUserText}} the User Details?</h5>
        <!-- <p class="mb-4">Do you really want to This process can not be undone.</p> -->
        <button class="btn btn-secondary me-2" (click)="preventCheck()" data-bs-dismiss="modal" type="button"
          data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button"
          data-bs-dismiss="modal" aria-label="Close" (click)="blockUser()">I'm
          Sure</button>
      </div>
    </div>
  </div>
</div>