.navbar{
    font-size: 0.85rem;
   
}

.modal-sm {
    max-width: 350px !important;
}

.logout-btn{
    /* background-color: #EDEDED; */
    background-color: #f8f9fa;
    border:1px solid #a4a4a4;
    border-radius: 5px;
}

.logout-btn:active,
.logout-btn:hover{
    /* background-color: #D9D9D9; */
    background-color: #dee2e6;
    border:1px solid #a4a4a4;
    border-radius: 5px;
}