.navbar{
    font-size: 0.85rem;
   
}

.modal-sm {
    max-width: 350px !important;
}

.login-btn{
    background-color: #EDEDED;
    border: #EDEDED;
    border-radius: 5px;
}

.login-btn:active,
.login-btn:hover{
    background-color: #D9D9D9;
    border:#EDEDED !important;
    border-radius: 5px;
}