<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" (click)="onToggleMenu()" class="btn btn-light logout-btn border-0 btn-sm shadow-none">
            <i class="fas fa-align-left"></i>
            <span></span>
        </button>
        <span class="ms-3 text-secondary">
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb mb-0 mt-1">
                  <li class="breadcrumb-item active" *ngFor="let breadcrumb of this.breadcrumbs[0]?.label; let last = last"
                    [ngClass]="{ 'active' : last }">
                    <a>{{breadcrumb.title}}</a>
                  </li>
                </ol>
              </nav>
        </span>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="nav-link logout-btn text-dark btn  btn-sm" data-bs-toggle="modal" data-bs-target="#LogoutModal"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Logout Confirmation modal pop up -->
<div class="modal fade" id="LogoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="LogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm border-0">
        <div class="modal-content overflow-hidden border-0">
            <div class="card-header border-bottom-0 bg-main text-white px-2 py-2">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col ms-2">
                        Are You Sure?
                    </div>
                    <div class="col text-end me-2">
                        <button type="button" class="btn-close btn-close-inverse shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>                    
            </div>
            <div class="modal-body text-center">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                        stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <h6 class="my-3">Do you really want to logout?</h6>
                <button class="btn btn-sm btn-secondary me-2 px-4" data-bs-dismiss="modal" type="button">NO</button>
                <button class="btn btn-sm btn-main px-4" type="button" (click)="logOut()" data-bs-dismiss="modal"
                    aria-label="Close">YES</button>
            </div>
        </div>
    </div>
</div>