<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Network Master</div>
            <div class="col-sm-4 text-end">
                <!-- <button title="Refresh Valve" class="btn btn-sm btn-main float-sm-end"><i
                        class="fas fa-sync-alt"></i></button> -->
                <button type="button" class="btn btn-light-main text-main btn-sm me-2" data-bs-toggle="modal"
                    data-bs-target="#NetworkModal">
                    <i class="fa-solid fa-plus me-2"></i>
                    Add Network
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ngx-select [allowClear]="true" [items]="allYojanaFilterArray" [formControl]="yojana"
                    placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
                    (select)="this.filterFlag == 'filter';defaultPageNo()" [disabled]="allYojanaArray?.length == 1" (remove)="defaultPageNo()">
                </ngx-select>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table align-middle dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Network</th>
                    <th>Yojana Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let showAllNetwork of allNetworkArray | paginate: {itemsPerPage: 10,
                    currentPage: pageNumber, totalItems:totalRows}; let i = index"
                    [class.active]="showAllNetwork.id == highlitedRow">
                    <td>{{((pageNumber + 1) * 10 + i + 1)-20}}</td>
                    <td>{{showAllNetwork?.networkName}}</td>
                    <td>{{showAllNetwork?.yojanaName}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" (click)="onEdit(showAllNetwork)"
                                class="btn bg-dark bg-opacity-10 text-dark rounded me-2" title="Edit Valve"
                                data-bs-toggle="modal" data-bs-target="#NetworkModal">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="btn bg-danger bg-opacity-10 text-danger rounded" title="Delete Valve"
                                data-bs-toggle="modal" (click)="deleteConformation(showAllNetwork.id)"
                                data-bs-target="#deleteModel">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="allNetworkArray?.length == 0">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <div class="mt-2 text-end" *ngIf="allNetworkArray?.length != 0">
            <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Network Modal -->
<div class="modal fade " id="NetworkModal" tabindex="-1" aria-labelledby="NetworkModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="networkRegForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
                <div class="modal-header bg-main">
                    <h1 class="modal-title fs-5" id="NetworkModal">Network Master</h1>
                    <button type="button" (click)="clearForm(formDirective);highlitedRow=0" #closebutton
                        class="btn-close btn-close-inverse" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-container ">
                        <div class="mb-3">
                            <label class="form-label">Network Name</label>
                            <input type="text" class="form-control" formControlName="networkName"
                                placeholder="Network Name" (blur)="clearWhiteSpace()"
                                [ngClass]="{ 'is-invalid': submitted && f.networkName.errors }"
                                (keypress)="this.validation.noFirstSpaceAllow($event);this.validation.alphaNumericWithSpacesAndSpecChars($event)">
                            <div *ngIf="submitted && f.networkName.errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f.networkName.errors?.required">Network Name is
                                    Required.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select Yojana</label>
                            <ngx-select [allowClear]="true" [items]="allYojanaArray" formControlName="yojanaId"
                                placeholder="Select Yojana" optionValueField="yojanaId" optionTextField="yojanaName"
                                (remove)="clearDropdown('yojana')" [disabled]="allYojanaArray?.length == 1"
                                [ngClass]="{ 'is-invalid': submitted && f['yojanaId'].errors }">
                            </ngx-select>
                            <div *ngIf="submitted && f['yojanaId'].errors" class="invalid-feedback">
                                <div class="text-danger" *ngIf="f['yojanaId'].errors?.['required']">Yojana Type is
                                    Required.</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-2 mb-0">
                            <button type="button" (click)="clearForm(formDirective)"
                                class="btn btn-light-main">Clear</button>
                            <button type="submit" class="btn btn-main" *ngIf="editFlag">Update</button>
                            <button type="submit" class="btn btn-main" *ngIf="!editFlag">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete modal pop up -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ProgramStatusModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-main border-bottom-0">
                <button type="button" class="btn-close btn-close-inverse" (click)="highlitedRow=0"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" (click)="deleteNetworkMaster()" data-bs-dismiss="modal"
                    aria-label="Close" type="button" data-bs-dismiss="modal" aria-label="Close">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>