<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Page Right Access</div>
        </div>
    </div>
    <div class="row">
        <!-- <ngx-select [items]="userTypeArray" [formControl]="userTypeId"
                   placeholder="Select User Type" optionValueField="id"
                   optionTextField="userTypeName">
              </ngx-select> -->
    </div>
    <div class="card-body">
        <table class="table align-middle dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Page Name</th>
                    <th>Page Url</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pageData of pageNameArray; let i=index">
                    <th>{{i+1}}</th>
                    <th>{{pageData.pageName}}</th>
                    <th>{{pageData.pageUrl}}</th>
                    <th><input type="checkbox" [checked]="pageData.access" (change)="addPage(pageData,$event)"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
