<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Page Right Access</div>
        </div>
    </div>
    <div class="card-header">
        <div class="row form-container ">
            <div class="col-sm-3">
             <!-- <label for="" class="form-label">User Type</label> -->
             <ngx-select [items]="userTypeArray" [formControl]="userTypeId"
             placeholder="Select User Type" optionValueField="id"
             optionTextField="userTypeName" (select)="pageNumber = 1;getAllPages()">
        </ngx-select>
            </div>
         </div>
    </div>
    <div class="card-body">
        <table class="table align-middle dashboard-table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Page Name</th>
                    <th>Page Url</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pageData of pageNameArray | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalCount}; let i=index">
                    <th>{{(((pageNumber + 1) * 10 + i + 1)-20)}}</th>
                    <th>{{pageData.pageName}}</th>
                    <th>{{pageData.pageURL}}</th>
                    <th><input type="checkbox" [checked]="pageData.userAccessOption==1" (change)="addPage(pageData,$event)"></th>
                </tr>
            </tbody>
        </table>
        <div class="mt-2 text-end" *ngIf="pageNameArray?.length == 0">
            <div class="alert alert-danger text-center py-2">No Data Found..!
            </div>
        </div>
        <div class="mt-2 text-end" *ngIf="pageNameArray?.length != 0">
            <pagination-controls previousLabel="" nextLabel="" (pageChange)="pagination($event)">
            </pagination-controls>
        </div>
    </div>
</div>
