<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Dashboard</div>
        </div>

        <div class="mt-2">
            <form [formGroup]="filterForm">
                <div class="row g-2">
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="yoganaIdArray" (select)="getValveSegmentList();tankFilterDrop.setValue('');getDeviceCurrentSensorValue();getNetwork()"
                            [disabled]="yoganaIdArray?.length == 1" optionValueField="yojanaId" (remove)="clearFilter('yojana')"
                            optionTextField="yojanaName" placeholder="Select Yogana" formControlName="yojanaId">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="networkIdArray" formControlName="networkId" optionValueField="networkId"
                            placeholder="Select Network" (select)="editPatchShape?.setMap(null);getValveSegmentList();tankFilterDrop.setValue('');getDeviceCurrentSensorValue()" 
                            [disabled]="!this.filterForm.value.yojanaId || networkIdArray?.length == 0" (remove)="clearFilter('network')"
                            optionTextField="networkName">
                        </ngx-select>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm">
                <div class="card card-body bg-primary bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Total Valves</p>
                    <h4 class="mb-0 fw-bold text-primary lh-1">{{valveSummaryArray?.totalValve}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-primary bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Total Tanks</p>
                    <h4 class="mb-0 fw-bold text-primary lh-1">{{valveSummaryArray?.totalTank}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/waterTank2.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">{{valveSummaryArray?.totalOn}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">{{valveSummaryArray?.totalOff}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Waited ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">{{valveSummaryArray?.totalWaitedOn}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Waited OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">{{valveSummaryArray?.totalWaitedOff}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
          
                <div class="card dashboardChart">
                    <div class="p-2 offset-6">     
                        <ngx-select [allowClear]="true" [items]="DeviceCurrentSensorArray" (selectionChanges)="filterTankData($event)"
                        [disabled]="DeviceCurrentSensorArray?.length == 0" optionValueField="tankId" 
                        optionTextField="tankName" placeholder="Select Water Tanks" [formControl]="tankFilterDrop">
                    </ngx-select>
                </div>
                <ul class="cylenderLabel" *ngIf="chartObj">
                    <li><span class="fw-bold">Percentage : </span><span>{{chartObj?.percentage}}%</span></li>
                    <li><span class="fw-bold">Liters : </span><span>{{chartObj?.totalLiters}}/{{chartObj?.tankCapcityInLiter}}</span></li>
                    <li><span class="fw-bold">Area : </span><span>{{chartObj?.address}}</span></li>
                    <li><span class="fw-bold">Last Update : </span><span>{{chartObj?.lastUpdatedDateTime}}</span></li>
                </ul>
                    <!-- <div class="card-header">Pie Chart</div> -->
                    <div class="card-body text-center valveCylenderChart">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card dashboardChart">
                    <div class="card-header">Location</div>
                    <div class="card-body text-center pt-0">
                        <!-- <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map> -->
                        <agm-map [fitBounds]="true" [latitude]="19.0898177" [zoom]="zoom" [longitude]="76.5240298"
                        (mapReady)="onMapReady($event)" [fullscreenControl]="true">
                        <agm-marker *ngFor="let m of tank_ValveArray; let i = index" [latitude]="m.latitude" [longitude]="m.longitude"
                            [iconUrl]="m.iconUrl">
                        </agm-marker>
                        <agm-marker [agmFitBounds]="true" *ngFor="let m of markerArray; let i = index" [latitude]="m.latitude || 19.0898177"
                            [longitude]="m.longitude || 76.5240298" [label]="m.label">
                        </agm-marker>
                    </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>