.cardImgOuter {
    position: absolute;
    width: 50px;
    right: 12px;
    bottom: 8px;
}

agm-map {
    height: 400px;
}

.cardImgOuter img {
    width: 100%;
    opacity: .1;
}

.valvePiChart {
    width: 400px;
    height: 400px;
}

ul.cylenderLabel {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 25px;
}