<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Dashboard</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col-sm">
                <div class="card card-body bg-primary bg-opacity-10 mb-3">
                    <p class="fw-bold mb-3">Total Valves</p>
                    <h4 class="mb-0 fw-bold text-primary lh-1">1234</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 mb-3">
                    <p class="fw-bold mb-3">ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">34</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 mb-3">
                    <p class="fw-bold mb-3">OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">124</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 mb-3">
                    <p class="fw-bold mb-3">Waited for ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">1234</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 mb-3">
                    <p class="fw-bold mb-3">Waited for OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">1234</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card dashboardChart">
                    <div class="card-header">Pie Chart</div>
                    <div class="card-body text-center">
                        <img src="../../../assets/images/pie-chart.png" alt="chart" class="img-fluid" width="300px">
                    </div>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>