.cardImgOuter {
    position: absolute;
    width: 50px;
    right: 12px;
    bottom: 8px;
}
.cardImgOuter img {
    width: 100%;
    opacity: .1;
}

.valvePiChart{
    width:'100%';
    height: 332px
}

agm-map {
    height: 312px;
  }