<div class="card plain-card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-4">Dashboard</div>
        </div>
    </div>
    <div class="card-header">
        <form [formGroup]="filterForm">
            <div class="row g-2 form-container">
                <div class="col-sm-3">
                    <!-- <label for="" class="form-label">Yojana</label> -->
                    <ngx-select [allowClear]="true" [items]="yoganaIdArray" (select)="clearMapData();getValveSegmentList();tankFilterDrop.setValue('');dateFilter.setValue('');getValveSummary();getNetwork();getDeviceCurrentSensorValue()"
                        [disabled]="yoganaIdArray?.length == 1" optionValueField="yojanaId" (remove)="clearMapData();clearFilter('yojana')"
                        optionTextField="yojanaName" placeholder="Select Yojana" formControlName="yojanaId">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <!-- <label for="" class="form-label">Network</label> -->
                    <ngx-select [allowClear]="true" [items]="networkIdArray" formControlName="networkId" optionValueField="networkId" 
                        placeholder="Select Network" (select)="clearMapData();editPatchShape?.setMap(null);getValveSegmentList();tankFilterDrop.setValue('');dateFilter.setValue('');getValveSummary();getDeviceCurrentSensorValue()" 
                        [disabled]="!this.filterForm.value.yojanaId || networkIdArray?.length <= 1" (remove)="clearMapData();clearFilter('network')"
                        optionTextField="networkName">
                    </ngx-select>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row gx-2 mb-3">
            <div class="col-sm">
                <div class="card card-body bg-primary bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Total Tanks</p>
                    <h4 class="mb-0 fw-bold text-primary lh-1">{{valveSummaryArray?.totalTank}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/total-tank.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-primary bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Total Valves</p>
                    <h4 class="mb-0 fw-bold text-primary lh-1">{{valveSummaryArray?.totalValve}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">{{valveSummaryArray?.totalOn}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">{{valveSummaryArray?.totalOff}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-success bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Waited ON Valves</p>
                    <h4 class="mb-0 fw-bold text-success lh-1">{{valveSummaryArray?.totalWaitedOn}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body bg-danger bg-opacity-10 border-0">
                    <p class="fw-bold mb-3 small">Waited OFF Valves</p>
                    <h4 class="mb-0 fw-bold text-danger lh-1">{{valveSummaryArray?.totalWaitedOff}}</h4>
                    <div class="cardImgOuter">
                        <img src="../../../assets/images/valve-3.png" alt="valve-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card dashboardChart">
                    <div class="card-header">
                        <div class="p-2 offset-6">     
                            <ngx-select [items]="DeviceCurrentSensorArray" (selectionChanges)="dateFilter.setValue('');filterTankData($event)"
                            [disabled]="DeviceCurrentSensorArray?.length == 0" optionValueField="tankId"
                            optionTextField="tankName" placeholder="Select Water Tanks" [formControl]="tankFilterDrop">
                        </ngx-select>
                    </div>
                    </div>
                   <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class=" text-center valveCylenderChart">
                        
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <ul class="cylenderLabel list-group list-group-flush" *ngIf="chartObj">
                                <li class="list-group-item"><span class="fw-bold">Percentage : </span><span>{{chartObj?.percentage}}%</span></li>
                                <li class="list-group-item"><span class="fw-bold">Liters : </span><span>{{chartObj?.totalLiters}}/{{chartObj?.tankCapcityInLiter}}</span></li>
                                <li class="list-group-item"><span class="fw-bold">Area : </span><span>{{chartObj?.address}}</span></li>
                                <li class="list-group-item"><span class="fw-bold">Last Update : </span><span>{{chartObj?.lastUpdatedDateTime}}</span></li>
                            </ul>
                        </div>
                    </div>
                   
                   </div>
              
                    <!-- <div class="card-header">Pie Chart</div> -->
                   
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card dashboardChart">
                    <div class="card-header">Location</div>
                    <div class="card-body text-center pt-0">
                        <!-- <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [fitBounds]="true">
                            <agm-marker [latitude]="lat" [longitude]="lng" [agmFitBounds]="true"></agm-marker>
                        </agm-map> -->
                        <agm-map [mapTypeControl]='true' [latitude]="latitude" [zoom]="zoom" [longitude]="logitude"
                        (mapReady)="onMapReady($event)" [fullscreenControl]="true">
                        <div *ngFor="let m of tank_ValveArray; let i = index">
                            <agm-marker *ngIf="m.latitude != 0 && m.longitude != 0"
                                [latitude]="m.latitude" [longitude]="m.longitude" [iconUrl]="m.iconUrl"
                                (markerClick)="clickedMarker(infowindow)">
                                <agm-info-window #infowindow>
                                    <ng-container *ngIf="m?.flag == 'valve'">
                                        <div><b>Valve Name -</b> {{m?.valveName}}</div>
                                        <div><b>Valve Status -</b> {{m?.valveStatus}}</div>
                                        <div><b>No Of Connection & No Of Customer -</b> {{m?.noOfConnection}}/{{m?.noOfCustomer}}</div>
                                        <div><b>Address -</b> {{m?.valveAddress}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="m?.flag == 'tank'">
                                        <div><b>Tank Name -</b> {{m?.tankName_En}}</div>
                                        <div><b>Address -</b> {{m?.address}}</div>
                                    </ng-container>
                                </agm-info-window>
                            </agm-marker>
                        </div>
                        <agm-marker *ngFor="let m of markerArray; let i = index" [latitude]="m.latitude || 19.0898177"
                            [longitude]="m.longitude || 76.5240298" [label]="m.label" [iconUrl]="markerUrlNull">
                        </agm-marker>
                    </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card plain-card">
    <div class="card m-3">
        <div class="p-2 offset-8">
            <div class="input-group">
                <input [owlDateTime]="dt2" [formControl]="dateFilter" (dateTimeChange)="getTankDeviceHourlyValue()"
                 [max]="max" class="form-control" [owlDateTimeTrigger]="dt2" placeholder="Select Date" >
                <owl-date-time [disabled]="!tankFilterDrop.value" [pickerType]="'calendar'" #dt2></owl-date-time>
                <button class="btn btn-light btn-sm border" type="button"
                [owlDateTimeTrigger]="dt2"> <i class="fas fa-calendar-alt"></i></button>
            </div>
   </div>
<div class="chartdiv"></div>
</div>
</div>